
namespace: "mail-server"

database:
  hostname: "database.__NAMESPACE__"
  port: 3306
  read_username: "read_user"
  read_password: "this_is_a_secure_read_only_password"
  write_username: "write_user"
  write_password: "this_is_a_secure_write_allowed_password"
  root_password: "some_secure_root_password"
  name: "__NAMESPACE__"
  encoding: "utf8"

server:
  domain: "antimatter-studios.com"
  hostname: "s2.__DOMAIN__"

general:
  storage_size: "50Gi"
  database_size: "1Gi"
  recipient_delimiter: "+"
  postmaster: "info@__DOMAIN__"

admin:
  username: "admin"
  password: "admin_password_1234"
  email: "info@__DOMAIN__"

dovecot:
  hostname: "dovecot.__NAMESPACE__"
  lmtp: 24
  pop3: 110
  pop3_ssl: 993
  imap: 143
  imap_ssl: 995
  submission: 587

postfix:
  hostname: "postfix.__NAMESPACE__"
  port: 25
  submission_port: 587

opendkim:
  hostname: "opendkim.__NAMESPACE__"
  port: 8891

rspamd:
  hostname: "rspamd.__NAMESPACE__"
  port: 11332

redis:
  hostname: "redis.__NAMESPACE__"
  port: 6379

clamav:
  hostname: "clamav.__NAMESPACE__"
  port: 3310