apiVersion: v1
kind: ConfigMap
metadata:
  name: general
  namespace: {{ .Values.namespace }}
data:
  STORAGE_SIZE: "{{ .Values.general.storage_size }}"
  DATABASE_SIZE: "{{ .Values.general.database_size }}"
  RECIPIENT_DELIMITER: "{{ .Values.general.recipient_delimiter }}"
  POSTMASTER: {{ quote (.Values.general.postmaster | replace "__DOMAIN__" .Values.server.domain) }}
---

apiVersion: v1
kind: ConfigMap
metadata:
  name: admin-panel
  namespace: {{ .Values.namespace }}
data:
  # These values are used to initialise the administration access (You should change them immediately)
  ADMIN_USERNAME: "{{ .Values.admin.username }}"
  ADMIN_PASSWORD: "{{ .Values.admin.password }}"
  ADMIN_EMAIL: {{ quote (.Values.admin.email | replace "__DOMAIN__" .Values.server.domain) }}
---

apiVersion: v1
kind: ConfigMap
metadata:
  name: services-info
  namespace: {{ .Values.namespace }}
data:
  DOMAIN: "{{ .Values.server.domain }}"
  HOSTNAME: {{ quote (.Values.server.hostname | replace "__DOMAIN__" .Values.server.domain) }}

  DOVECOT_HOSTNAME: {{ quote (.Values.dovecot.hostname | replace "__NAMESPACE__" .Values.namespace) }}
  DOVECOT_LMTP: "{{ .Values.dovecot.lmtp }}"
  DOVECOT_POP3: "{{ .Values.dovecot.pop3 }}"
  DOVECOT_POP3_SSL: "{{ .Values.dovecot.pop3_ssl }}"
  DOVECOT_IMAP: "{{ .Values.dovecot.imap }}"
  DOVECOT_IMAP_SSL: "{{ .Values.dovecot.imap_ssl }}"
  DOVECOT_SUBMISSION: "{{ .Values.dovecot.submission }}"

  POSTFIX_HOSTNAME: {{ quote (.Values.postfix.hostname | replace "__NAMESPACE__" .Values.namespace) }}
  POSTFIX_PORT: "{{ .Values.postfix.port }}"
  POSTFIX_SUBMISSION_PORT: "{{ .Values.postfix.submission_port }}"
  POSTFIX_SUBMISSION_SSL: "no"
  POSTFIX_SUBMISSION_SSL_VERIFY: "no"
  POSTFIX_MESSAGE_SIZE_LIMIT: "50000000"
  POSTFIX_RELAY_NETS: "10.0.0.0/8"
  POSTFIX_RELAY_HOST: ""
  POSTFIX_LOGGING_LEVEL: ""
  # change this in the postfix project
  ENTRYPOINT_DEBUG: ""

  CLAMAV_HOSTNAME: {{ quote (.Values.clamav.hostname | replace "__NAMESPACE__" .Values.namespace) }}
  CLAMAV_PORT: "{{ .Values.clamav.port }}"

  OPENDKIM_HOSTNAME: {{ quote (.Values.opendkim.hostname | replace "__NAMESPACE__" .Values.namespace) }}
  OPENDKIM_PORT: "{{ .Values.opendkim.port }}"

  RSPAMD_HOSTNAME: {{ quote (.Values.rspamd.hostname | replace "__NAMESPACE__" .Values.namespace) }}
  RSPAMD_PORT: "{{ .Values.rspamd.port }}"
  RSPAMD_PASSWORD: "supersecret"
  RSPAMD_PORT_0: "11332"
  # what does port 1 do?
  RSPAMD_PORT_1: "11333"
  RSPAMD_PORT_2: "11334"
  RSPAMD_WORKER_PROXY_PORT: "11332"
  RSPAMD_WORKER_CONTROLLER_PORT: "11334"

  REDIS_HOSTNAME: {{ quote (.Values.redis.hostname | replace "__NAMESPACE__" .Values.namespace) }}
  REDIS_PORT: "{{ .Values.redis.port }}"
---

apiVersion: v1
kind: ConfigMap
metadata:
  name: database-common
  namespace: {{ .Values.namespace }}
data:
  DATABASE_HOSTNAME: {{ quote (.Values.database.hostname | replace "__NAMESPACE__" .Values.namespace) }}
  DATABASE_PORT: "{{ .Values.database.port }}"
  DATABASE_NAME: {{ quote (.Values.database.name | replace "__NAMESPACE__" .Values.namespace | replace "-" "_") }}
  DATABASE_ENCODING: "{{ .Values.database.encoding }}"
---

apiVersion: v1
kind: ConfigMap
metadata:
  name: database-root
  namespace: {{ .Values.namespace }}
data:
  DATABASE_USERNAME: "root"
  DATABASE_PASSWORD: "{{ .Values.database.root_password }}"
---

apiVersion: v1
kind: ConfigMap
metadata:
  name: database-read
  namespace: {{ .Values.namespace }}
data:
  DATABASE_USERNAME: "{{ .Values.database.read_username }}"
  DATABASE_PASSWORD: "{{ .Values.database.read_password }}"
---

apiVersion: v1
kind: ConfigMap
metadata:
  name: database-write
  namespace: {{ .Values.namespace }}
data:
  DATABASE_USERNAME: "{{ .Values.database.write_username }}"
  DATABASE_PASSWORD: "{{ .Values.database.write_password }}"
---

apiVersion: v1
kind: ConfigMap
metadata:
  name: dovecot-haproxy
  namespace: {{ .Values.namespace }}
data:
  HAPROXY_IMAP: "yes"
  HAPROXY_IMAPS: "yes"
  HAPROXY_POP3: "yes"
  HAPROXY_POP3S: "yes"
  # If you enable lmtp+haproxy you will have by default problems to receive email
  # Unless you have a special configuration you've enabled
  HAPROXY_LMTP: "no"
  HAPROXY_SUBMISSION: "yes"
  HAPROXY_TRUSTED_NETWORKS: "10.0.0.0/8"
  HAPROXY_TIMEOUT: "5s"
---

apiVersion: v1
kind: ConfigMap
metadata:
  name: dovecot-logging
  namespace: {{ .Values.namespace }}
data:
  ENTRYPOINT_DEBUG: ""
  LOGGING_AUTH_VERBOSE: "yes"
  LOGGING_AUTH_VERBOSE_PASSWORDS: "yes"
  LOGGING_AUTH_DEBUG: "yes"
  LOGGING_AUTH_DEBUG_PASSWORDS: "yes"
  LOGGING_MAIL_DEBUG: "yes"
  LOGGING_VERBOSE_SSL: "yes"
